### Ejercicio propuesto: Crear un DataFrame a partir de distintas estructuras de datos

1. Solución con pd.Series

In [3]:
import pandas as pd
import numpy as np

# TODO: crear un dataframe con las notas de los 8 módulos. Cuando no se pasa un índice explícito, el orden es ('Marvin Minsky','John McCarthy','Claude Shannon','Alan Turing')

notas_modulo1= {'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0}
notas_modulo2= [('Marvin Minsky', 8.0), ('John McCarthy', 8.5), ('Claude Shannon', 8.0), ('Alan Turing', 9.0)]
notas_modulo3= {('Marvin Minsky', 9.5), ('John McCarthy', 8.9), ('Claude Shannon', 8.7), ('Alan Turing', 9.1)}
notas_modulo4= [3.3, 4.5, 6.7, 8.9]
notas_modulo5= np.array([3.5, 4.1, 2.1, 9.3])
notas_modulo6= pd.Series([8.3, 6.5, 5.7, 5.9])
notas_modulo7= pd.Series([3.3, 4.5, 6.7, 8.9], index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'])
notas_modulo8= pd.Series({'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0})

#creamos la variable estudiantes para pasar los index a las estructuras que no los incluyen
estudiantes=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']
notas_modulo6.index=estudiantes

# Crear el DataFrame con las notas de los 8 módulos
df_notas = pd.DataFrame({
    'Modulo 1': pd.Series(notas_modulo1),
    'Modulo 2': pd.Series(dict(notas_modulo2)),
    'Modulo 3': pd.Series(dict(notas_modulo3)),
    'Modulo 4': pd.Series(notas_modulo4, index=estudiantes),
    'Modulo 5': pd.Series(notas_modulo5, index=estudiantes),
    'Modulo 6': notas_modulo6,
    'Modulo 7': notas_modulo7,
    'Modulo 8': notas_modulo8
})

#Visualizar el DataFrame
df_notas

,Modulo 1,Modulo 2,Modulo 3,Modulo 4,Modulo 5,Modulo 6,Modulo 7,Modulo 8
Alan Turing,7.0,9.0,9.1,8.9,9.3,5.9,8.9,7.0
Claude Shannon,6.5,8.0,8.7,6.7,2.1,5.7,6.7,6.5
John McCarthy,6.2,8.5,8.9,4.5,4.1,6.5,4.5,6.2
Marvin Minsky,5.7,8.0,9.5,3.3,3.5,8.3,3.3,5.7

2. Solución con pd.Dataframes

In [1]:
import pandas as pd
import numpy as np

# Definir las estructuras de datos
notas_modulo1 = {'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0}
notas_modulo2 = [('Marvin Minsky', 8.0), ('John McCarthy', 8.5), ('Claude Shannon', 8.0), ('Alan Turing', 9.0)]
notas_modulo3 = {('Marvin Minsky', 9.5), ('John McCarthy', 8.9), ('Claude Shannon', 8.7), ('Alan Turing', 9.1)}
notas_modulo4 = [3.3, 4.5, 6.7, 8.9]
notas_modulo5 = np.array([3.5, 4.1, 2.1, 9.3])
notas_modulo6 = pd.Series([8.3, 6.5, 5.7, 5.9])
notas_modulo7 = pd.Series([3.3, 4.5, 6.7, 8.9], index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'])
notas_modulo8 = pd.Series({'Marvin Minsky': 5.7, 'John McCarthy': 6.2, 'Claude Shannon': 6.5, 'Alan Turing': 7.0})

# Convertir las estructuras de datos en DataFrames o Series según sea necesario
df1 = pd.DataFrame.from_dict(notas_modulo1, orient='index', columns=['Nota Módulo 1'])
df2 = pd.DataFrame(notas_modulo2, columns=['Estudiante', 'Nota Módulo 2']).set_index('Estudiante')
df3 = pd.DataFrame(list(notas_modulo3), columns=['Estudiante', 'Nota Módulo 3']).set_index('Estudiante')
df4 = pd.DataFrame(notas_modulo4, columns=['Nota Módulo 4'], index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'])
df5 = pd.DataFrame(notas_modulo5, columns=['Nota Módulo 5'], index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing'])
notas_modulo6.index=['Marvin Minsky', 'John McCarthy', 'Claude Shannon', 'Alan Turing']
df6 = pd.DataFrame(notas_modulo6, columns=['Nota Módulo 6'])
df7 = notas_modulo7.rename('Nota Módulo 7').to_frame()
df8 = notas_modulo8.rename('Nota Módulo 8').to_frame()

# Unimos todos los DataFrames en uno solo
df_final = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8], axis=1)

# Mostrar el DataFrame final
df_final

,Nota Módulo 1,Nota Módulo 2,Nota Módulo 3,Nota Módulo 4,Nota Módulo 5,Nota Módulo 6,Nota Módulo 7,Nota Módulo 8
Marvin Minsky,5.7,8.0,9.5,3.3,3.5,8.3,3.3,5.7
John McCarthy,6.2,8.5,8.9,4.5,4.1,6.5,4.5,6.2
Claude Shannon,6.5,8.0,8.7,6.7,2.1,5.7,6.7,6.5
Alan Turing,7.0,9.0,9.1,8.9,9.3,5.9,8.9,7.0